{% extends 'base.html.twig' %}

{% block title %}
{{ new ? 'Créer une tâche' : task.title }}
{% endblock %}

{% block body %}
{{ form_start(form) }}
    <div>{{ form_row(form.title) }}</div>
    <div>{{ form_row(form.description) }}</div>
    <div class="flex-form">
        <div>{{ form_row(form.deadline) }}</div>
        <div>{{ form_row(form.status) }}</div>
    </div>
    <div>{{ form_row(form.employee) }}</div>
    <br>
    <button type="submit" class="button button-submit">
        {{ new ? 'Ajouter' : 'Modifier' }}
    </button>
    {% if not new %}
    <a href="{{ path('app_task_delete', {project: task.project.id, id: task.id}) }}" onclick="return confirm('Voulez-vous vraiment supprimer cette tâche ?');" class="delete-task">Supprimer la tâche</a>
    {% endif %}
{{ form_end(form) }}
{% endblock %}
